.app {
  text-align: center;
  display: flex;
  flex-direction: column;
}


.app-header {
  display: flex;
  flex-direction: row;
  height: 10vh;
  background-color: #282c34;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 2vmin);
  color: white;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.user-list {
  flex:1;
  text-align: left;
  background: yellow;
  list-style-type: none;
  padding:0;
}

.user-item {
  display: flex;
  cursor: pointer;
  padding: 5px;
  width:150px;
  background:rgb(41, 221, 41);
  justify-content: space-between
}

.action-open-chat {
  text-transform: lowercase;
}

.chat-area {
  display: flex;
  flex-wrap: wrap;
  flex:6;
}

.chat-window {
  display: flex;
  margin: 5px;
  padding: 5px;
  border: 1px solid lightgray;
  min-height: 300px;
  flex-direction: column;
}

.chat-input-area {
  align-self: flex-end;
  width: 100%;
  /* position: fixed; */
  /* bottom:0; */
}

.chat-input-area textarea {
  box-sizing: border-box;
  width: 100%;
}

.message-list {
  display:flex;
  flex-direction: column;
  text-align: left;
  list-style-type: none;
  overflow: auto;
  height: 50vh;
}

.message-item {
 text-align: left;
 border: 1px solid palevioletred;
 padding: 5px;
 border-radius: 4px;
 margin: 5px;
 min-width: 8em;
}

.message-item.others {
  background-color: white;
  align-self: flex-start;
  border-color: rgb(91, 226, 91);
}

.message-item.self {
  background-color: white;
  align-self: flex-end;
  border-color: beige;
}

.message-from {
  padding: 0;
  margin:0;
  display: inline-block;
  font-size: 0.7em;
}


.message-body{
  
}
