.app {
  text-align: center;
  display: flex;
  flex-direction: column;
}


.app-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(3px + 2vmin);
  color: white;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.user-list {
  flex:1;
  text-align: left;
  background: yellow;
  list-style-type: none;
  padding:0;
}

.user-item {
  display: flex;
  cursor: pointer;
  padding: 5px;
  width:150px;
  background:rgb(41, 221, 41);
  justify-content: space-between
}

.action-open-chat {
  text-transform: lowercase;
}

.chat-area {
  display: flex;
  flex-wrap: wrap;
  flex:3;
}

.chat-window {
  display: flex;
  margin: 5px;
  padding: 5px;
  border: 1px solid lightgray;
  min-height: 300px;
  flex-direction: column;
}

.chat-input-area {
  align-self: flex-end;
  width: 100%;
}

.chat-input-area textarea {
  box-sizing: border-box;
  width: 100%;
  height: 40vh;
}

.message-list {
  text-align: left;
}

.message-item {
 text-align: left;
}
