.app {
  text-align: center;
  display: flex;
  flex-direction: column;
}


.app-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.user-list {
  width: 150px;
  text-align: left;
  background: yellow;
}

.user-item {
  cursor: pointer;
  padding: 5px;
  width:150px;
  background:rgb(41, 221, 41);
}

.chat-area {
  display: flex;
  flex-wrap: wrap;
}

.chat-window {
  border: 1px solid lightgray;
  min-height: 300px;
}

.message-list {
  text-align: left;
}

.message-item {
 text-align: left;
}
